* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #000;
}
.body-container {
  /* padding: 0 28px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-header-section {
  background-image: url(./assets/Photos/mainBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 50% top 80%;
  /* blending color */
  background-color: rgba(93, 102, 117, 0.662);
  background-blend-mode: multiply;

  width: 100vw;
  height: 100vh;
  padding: 0 150px 0 150px;
}
.nav-container {
  height: 10%;
  padding: 0 60px;
}
.nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-items {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  list-style: none;
  color: #fff;
}
.list-items li:hover {
  cursor: pointer;
  color: rgb(75, 137, 253);
}

img[src="./assets/Icons/Logo.svg"] {
  width: 100px;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: rgb(130, 129, 129);
  margin-top: 20px;
}

.header-text {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 50px;
}
.header-text h1 {
  font-size: 80px;
  color: #fff;
  width: 750px;
}
.header-text p {
  font-size: 20px;
  color: rgb(170, 169, 169);
  width: 420px;
  line-height: 25px;
}
.header-text button {
  font-size: 15px;
  color: #fff;
  background-color: rgb(36, 89, 222);
  border: none;
  padding: 15px 30px;
  border-radius: 40px;
}
.header-text button:hover {
  background-color: #fff;
  color: rgb(36, 89, 222);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

/* logo container */

.logo-section {
  width: 95vw;
  height: 125px;
  padding: 0 115px;
  position: absolute;
  top: 94%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(204, 203, 203);
  border-radius: 20px;
  text-transform: uppercase;
}
.logo-section ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10%;
  font-size: 40px;
  font-family: serif;
  color: rgb(49, 116, 241);
  list-style: none;
}

/****** grid section *******/
.grid-container {
  background-color: #fff;
  margin-top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container h2 {
  width: 600px;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  padding: 90px 0;
}
.grid-child-container {
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

  column-gap: 10px;
  row-gap: 100px;
}
.grid-child-box {
  position: relative;
}

.child {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}
.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 30px;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgb(216, 216, 216);
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 15px;

  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-box:hover {
  cursor: pointer;
  transition: all ease-in-out 1s;
  transform: scale(1) translate(-50%, -70%);
}
.flex-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flex-child > span:nth-child(1) {
  text-transform: capitalize;
  font-weight: 600;
}
.flex-child > span:nth-child(2) {
  color: rgb(63, 163, 250);
}
.flex-box button {
  background-color: rgb(35, 81, 251);
  border: none;
  color: #fff;
  padding: 7px 15px;
  font-size: 10px;
  border-radius: 20px;
}
.flex-box button:hover {
  background-color: #fff;
  cursor: pointer;
  color: rgb(35, 81, 251);
  transition: all ease-in-out 0.4s;
}
